---
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <Navigation showName={false} />
    </header>
    <div class="my-6">
      <h1>Chris Jarling</h1>
      <p>Engineering Manager @ Gigs</p>
      <p>
        I'm an Engineering Manager, Fullstack Developer, and lifelong learner
        with a strong technical background and a strategic mindset. <br />
        I currently work at Gigs, building the Stripe for phone plans. <br />
        I'm passionate about fostering team growth, creating great products, and
        continually learning to stay at the forefront of technology and leadership
      </p>
      <span class="block">📍 Copenhagen, Denmark</span>
      <a href="/about">More about me</a>
    </div>
    <div class="my-6">
      <h2>Favorite articles</h2>
      <div><a href="/post">Post 1</a></div>
      <div><a href="/post">Post 2</a></div>
      <div><a href="/post">Post 3</a></div>
      <div>Topics</div>
      <div>
        <a href="/posts">See all</a>
      </div>
    </div>

    <div class="my-6">
      <h2>Projects</h2>
      <p>
        None of these projects make me any money, I usually do side project for
        fun, learning or both. I'm a proponent of <a href="/posts"
          >silly side projects</a
        >
      </p>
      <div>plsrOS</div>
      <div>instadoma.in</div>
      <div>rapidtasks</div>
    </div>

    <footer>c Chris jarling 2024</footer>
  </body>
</html>
